<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body">
        <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"></i>  Lupa Password?</h1>
        <%- include("partials/messages"); %>
        <form action="/cred/forgot" method="POST">
          <div class="form-group">
            <label for="email">email</label>
            <input
              type="email"
              id="email"
              name="email"
              class="form-control"
              placeholder="Enter Email"
            />
          </div>
          
          <button type="submit" class="btn btn-primary btn-block">Kirim</button>
        </form>
        
      </div>
    </div>
  </div>